.collapse {
  width: 70%;
  margin: 0 15% 30px 15%;
  .collapse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-color: #ff6060;
    h1 {
      color: #ffffff;
      font-size: 24px;
      padding: 10px 15px;
    }
    button {
      display: flex;
      height: 100%;
      border: none;
      background-color: #ff6060;
      border-radius: 5px;
      padding-right: 15px;
      img {
        transition: transform 0.5s ease-in-out;
      }
      .arrow-up {
        transform: rotate(0deg);
      }
      .arrow-down {
        transform: rotate(180deg);
      }
    }
  }
  .collapse-content {
    background-color: #f6f6f6;
    padding: 20px;
    margin-top: -2px;
    border-radius: 0 0 5px 5px;
  }
}
